Zweihander/Content/Megascans/Surfaces/Castle_Stone_Wall_2x2_M_00/tbhoajkr_8K_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Zweihander/Content/Megascans/Surfaces/Castle_Stone_Wall_2x2_M_00/tbhoajkr_8K_Normal.uasset filter=lfs diff=lfs merge=lfs -text
